<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-top">
      <h3><span>CrazeBots</span> ltd.</h3>
      <p>
        We are specializing in Telegram bot development and full-stack
        development, I provide custom solutions tailored to your needs. From
        building dynamic web applications to automating tasks through efficient
        bots, I am dedicated to delivering high-quality, scalable projects that
        drive results. Let’s bring your ideas to life!
      </p>
    </div>
    <div class="footer-bottom">
      <h3>© 2024 - CrazeBots</h3>
      <div class="footer-menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Projects</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and conditions</a>
      </div>
    </div>
  </div>
</footer>
