{% load static %}
<header class="header xgradient-border">
    <a href="/" class="brand">Craze<span>Bot</span>s.</a>
    <nav id="navbar" class="navbar">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#projects">Portfolio</a></li>
        <li><a href="#services">Services</a></li>
      </ul>
      <div class="gradient-button">
        <a href="https://t.me/Rahul_thakor" class="btn">Hire Me</a>
      </div>
    </nav>
    <div class="menu-icon" onclick="toggleMenu()">
      <img id="menu" src="{% static "imgs/menu.svg" %}" alt="menu">
      <img id="cross" class="hidden" src="{% static "imgs/cross.svg" %}" alt="menu">
    </div>
    
    
    
  </header>
